#! /usr/bin/env nextflow

// C-WAP NextFlow configuration script


// Clear the work directory after successfull execution
cleanup = true


manifest {
    description = 'C-WAP: CFSAN Wastewater Analysis Pipeline'
    author = 'Tunc Kayikcioglu'
}


params {
	referenceSequence = "$projectDir/covidRefSequences/wuhan.fa"
	variantDBfile = "$projectDir/covidRefSequences/varDefinitions.pkl"
	primerBedFile = "$projectDir/covidRefSequences/none.bed"
	in = "./"
	out = "./"
	partition = 'transition'
}


// This block needs to be modified to customise for the available computational
// resources

process {
	shell = ['/bin/bash','-e']
	
	executor = 'slurm'
	queue = params.partition
	time = '20 min'
	cpus = 2
	memory = '8 GB'
		
	// memory { 10GB*task.attempt }
    // time { 1.hour * task.attempt }
    // errorStrategy { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
	errorStrategy = 'retry'
	maxRetries = 1

	// Disabled, as it increases computation time.
	// scratch = "ram-disk"
}



