#! /usr/bin/env nextflow

// C-WAP NextFlow configuration script


// Clear the work directory after successfull execution
// cleanup = true


manifest {
	homePage = 'https://github.com/CFSAN-Biostatistics/C-WAP'
    description = 'C-WAP: CFSAN Wastewater Analysis Pipeline'
	author = 'Tunc Kayikcioglu / FDA / CFSAN'
    mainScript = 'startWorkflow.nf'
}


params {
	referenceSequence = "$projectDir/covidRefSequences/wuhan.fa"
	variantDBfile = "$projectDir/covidRefSequences/varDefinitions.pkl"
	primerBedFile = "$projectDir/covidRefSequences/none.bed"
	in = "./"
	out = "./"
	make_pdfs = true
}


conda {
	cacheDir = "$projectDir/conda"
	createOptions = '-c bioconda -c conda-forge -c defaults'
	conda.createTimeout = '3 h'
}


process {
	shell = ['/bin/bash','-e']
	// clusterOptions = '-x n118,n119,n120'
	// Temporary for benchmarking purposes:
	clusterOptions = '-w compute-dy-r54xlarge-1 compute-dy-r54xlarge-2'
	
	// errorStrategy = 'retry'
	errorStrategy = {sleep(2000); return 'retry'} // Wait for 2000ms before re-trying. Waiting gives automount a reaction time.
	maxRetries = 5

	// Disabled, as it increases computation time.
	// scratch = "ram-disk"
	// scratch = true
}	


// This block needs to be modified to customise for the available computational resources
profiles {
    local_only {
        process.executor = 'local'
    }

    standard {
		executor {
			name = 'slurm'
			queueSize = 400
			// queueStatInterval = '30 sec'
		}

		process {		
			executor = 'slurm'
			// queue = <partition name here>
			time = '1 h'
			cpus = 2
			memory = '8 GB'
			
			withLabel: high_cpu {
				cpus = 20
			}
		}
    }
	
	aws {
		executor {
			name = 'slurm'
			queueSize = 400
		}
			
		process {
			time = '1 h'
			cpus = 2
			memory = '8 GB'
			
			withLabel: high_cpu {
				cpus = 15
			}
			
			withLabel: high_IO {
				// Execute only a few at a time.
				// This reduces storage IO by avoiding concurrent read access.
				maxForks = 2
			}
		}
    }
	
}

